.container {
  padding: 1.5rem 20rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header {
  display: flex;
  gap: 15px;
  justify-content: left;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 2.8rem;
}

.year {
  font-size: 1.5rem;
}

.description {
  margin: 0;
  font-size: 1.3rem;
}

.secondarytitle {
  margin: 1rem 0rem;
  font-size: 2.3rem;
  font-weight: 500;
}
